* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

.menu {
  height: 100px;
  background-color: black;
}
li {
  float: left;
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
}
.logo {
  margin-right: 600px;
}
a {
  text-decoration: none;
  color: white;
}
.principal {
  height: 400px;
  background-image: url(../assets/img/mini-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
