* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}
.fa {
   display: none;
 }
 .li {
   margin-left: 0%;
 }

@media (max-width: 767px) {
  .fa {
    display: inline-block;
    color: #fff;
  }
  .nav {
    display: none;
  }
  .li {
    margin-left: 16.666%;
  }
}

.menu {
  height: 10em;
  background-color: #000;
  line-height: 5em;
}
li {
  float: left;
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
}
.logo {
  margin-right: 50%;
  margin-left: 2em;
}
a {
  text-decoration: none;
  color: white;
}
.principal {
  height: 30em;
  background-image: url(../assets/img/mini-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  text-align: center;
  line-height: 10em;
}
h1 {
  font-size: 4em;
}
.border {
  border: 1px solid pink;
  border-radius: 3px;
  text-align: center;
}
.caja-button-height {
  padding: 1em;
  background-color: gray;
}
.img-2 {
  height: 20em;
  background-image: url('../assets/img/mini-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  color: gray;
}
.img-3 {
  height: 20em;
  background-image: url('../assets/img/mini-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  color: gray;
}
.img-4 {
  height: 20em;
  background-image: url('../assets/img/mini-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  color: gray;
}

button {
 background-color: aqua;
 color: gray;
 border: none;
 border-radius: 5px;
}
footer {
  height: 6em;
  background-color: #000;
  color: #fff;
  text-align: center;
}
